*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select, a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

html {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
  background-color: #FAFAFA;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.25rem;
}

.pricing strong {
  font-size: 3.5rem;
}

.countdown strong {
  font-size: 2rem;
}
.countdown small {
  font-size: 0.75rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.875rem 0 5rem;
}
header::before {
  content: "";
  position: absolute;
  height: 28.75rem;
  width: 100%;
  background-image: url("../assets/shared/bg-pattern-header.svg");
  background-position: center;
  background-size: cover;
  z-index: -100;
}

.home {
  margin: 0 6.4%;
}
.home .banner {
  margin: 0 0 6.25rem;
}
.home .banner img {
  width: 53%;
  max-width: 250px;
  margin: 0 auto 4rem;
}
.home .banner .banner-text {
  text-align: center;
}
.home .banner h1 {
  color: #25293A;
  line-height: 120%;
  margin: 0 0 1.5rem;
}
.home .banner p {
  color: #747B95;
  line-height: 162%;
  margin: 0 0 1.5rem;
}
.home .banner a {
  display: inline-block;
  padding: 1.25rem 2.57rem;
  background-color: #5175FF;
  border-radius: 1.75rem;
  color: #fff;
  font-weight: bold;
  box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.247159);
}
.home .pricing {
  margin: 0 auto 6.25rem;
  max-width: 43rem;
}
.home .price-tier {
  border-radius: 0.8125rem;
  background-color: #fff;
  box-shadow: 0px 10px 50px -25px rgba(75, 92, 154, 0.247159);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #25293A;
}
.home .price-tier h2 {
  margin: 2.5rem 0;
}
.home .price-tier p {
  margin: 1rem 0 4rem;
}
.home .price-tier li {
  margin: 0 0 1.25rem;
  color: #747B95;
  font-weight: lighter;
}
.home .price-tier li:last-child {
  margin: 0;
}
.home .price-tier a {
  margin: 2rem 0 2.5rem;
  display: inline-block;
  padding: 1.25rem 2.57rem;
  background-color: rgba(81, 117, 255, 0.15);
  border-radius: 1.75rem;
  color: #5175FF;
  font-weight: bold;
}
.home .price-tier:nth-child(2) {
  background-color: #5175FF;
  background-image: url("../assets/home/bg-pattern-pricing.svg");
  background-position: bottom;
  margin: 2rem 0;
  color: #fff;
}
.home .price-tier:nth-child(2) li {
  color: #fff;
  opacity: 0.75;
}
.home .price-tier:nth-child(2) a {
  background-color: #fff;
}
header {
  display: flex;
  justify-content: center;
}
